# Core libraries
pandas
numpy
joblib
torch

# Visualization
streamlit
plotly

# Forecasting
prophet

# Clustering & preprocessing
scikit-learn

# Transformers & NLP
transformers
langchain


