# Core libraries
pandas==1.5.3
numpy==1.23.5
joblib==1.2.0
torch==2.0.1

# Visualization
streamlit==1.32.0
plotly==5.14.1

# Forecasting
prophet==1.1.5
pystan==2.19.1.1

# Clustering & preprocessing
scikit-learn==1.2.2

# Transformers & NLP
transformers==4.28.1
langchain==0.0.208
